:root {
	--text-color: white;
	--accent: #d5fff3;
	--error: rgb(148, 29, 29);
	--bg1: #13151e;
	--bg2: #4b644a;
	--input-bg: rgb(5, 11, 15);

	background-color: var(--bg1);
	color: var(--text-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	margin: 1em;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	input {
		background-color: var(--input-bg);
		color: var(--text-color);
		padding: 0.5em;
		border-radius: 0.4em;
		border: none;
	}
	button {
		margin-top: 1em;
		padding: 1em 2em;
		border-radius: 1em;
		border: none;
		background-color: var(--accent);
		cursor: pointer;
	}
}

a {
	color: var(--accent);
	cursor: pointer;
}

.error {
	color: var(--error);
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

input.toggle {
	$h: 2em;
	width: 2 * $h;
	height: $h;
	margin: 0;
	border: unset;
	position: relative;
	&::before {
		content: '';
		background-color: var(--input-bg);
		border-radius: 2 * $h;
		position: absolute;
		width: 100%;
		height: 100%;
	}
	&::after {
		position: absolute;
		content: '';
		box-sizing: border-box;
		background-color: var(--input-bg);
		border: 3px solid var(--accent);
		width: $h;
		height: $h;
		border-radius: $h;
		transition: all 0.2s ease;
		transform: translateX(0);
		left: 0;
	}
	&:checked::after {
		background-color: var(--accent);
		transform: translateX($h);
	}
}
