:root {
	--text-color: white;
	--accent: #d5fff3;
	--error: rgb(148, 29, 29);
	--bg1: #13151e;
	--bg2: #4b644a;
	--input-bg: rgb(5, 11, 15);

	background-color: var(--bg1);
	color: var(--text-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	margin: 1em;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	input {
		background-color: var(--input-bg);
		color: var(--text-color);
		padding: 0.5em;
		border-radius: 0.4em;
		border: none;
	}
	button {
		margin-top: 1em;
		padding: 1em 2em;
		border-radius: 1em;
		border: none;
		background-color: var(--accent);
		cursor: pointer;
	}
}

a {
	color: var(--accent);
	cursor: pointer;
}

.error {
	color: var(--error);
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
